backups
crash-reports
dynmap
emotes
journeymap
local
logs
saves
schematics
screenshots
.curseclient
.sl_password
.libvlc.dll
.libvlccore.dll
minecraftinstance.json
servers.dat_old
TrashSlotSaveState.json
usercache.json
usernamecache.json
emotecraft.json
*.log